
<h2>Paises</h2>
<hr>

<ul class="list-group">
  <li routerLink=""
      class="list-group-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact:true }">
    home Page
  </li>
  <li routerLink="about"
      class="list-group-item"
      routerLinkActive="active">
    about Page
  </li>
  <li routerLink="contact"
      class="list-group-item"
      routerLinkActive="active">
    contact Page
  </li>
  <li routerLink="countries/by-capital"
      class="list-group-item"
      routerLinkActive="active">
    Por capital
  </li>
  <li routerLink="countries/by-country"
      class="list-group-item"
      routerLinkActive="active">
    Por país
  </li>
  <li routerLink="countries/by-region"
      class="list-group-item"
      routerLinkActive="active">
    Por region
  </li>


</ul>
